body {
    font-family: 'Questrial', sans-serif;
    background-color: #FCFCFC;
    color: #B2B2B2;
}
.grid-container {
    
}

/* Basic Text */
h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}
h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
h5 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
a {
    color: #1178DB;
    text-decoration: none;
}
a:hover, a :focus {
    color: #062D52;
}

/* Header */
header {
    background-color: #1178DB;
    color: #FCFCFC;
}

/* Footer */
footer {
    background-color: #062D52;
    color: #FCFCFC;
}
footer a {
    color: #FCFCFC;
}
footer a:hover {
    
}

/* Navigation */
nav {
    background-color: #1178DB;
}
nav a {
    font-family: 'Open Sans', sans-serif;
    color: #FCFCFC;
}
nav a:hover, nav a:focus {
    background-color: #0B4B89;
}
.is-dropdown-submenu {
    background-color: #1178DB;
}
.dropdown.menu > li.is-active > a {
    background-color: #0B4B89;
}

/* Object Classes */
.blueGround {
    background-color: #1178DB;
    color: #FCFCFC;
}
.darkBlueGround{
    background-color: #062D52;
    color: #FCFCFC;
}
.greyGround {
    background-color: #B2B2B2;
    color: #868686;
}
.blueText {
    color: #1178DB;
}
.darkBlueText {
    color: #062D52;
}
.whiteText {
    color: #FCFCFC;
}
.alignLeft {
    text-align: left;
}
.alignCenter {
    text-align: center;
}
.alignRight {
    text-align: right;
}
.lowParent {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
.vertCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
.centerBorders {
    border-left: 1px solid #B2B2B2;
    border-right: 1px solid #B2B2B2;
}
.padTop {
    padding-top: 15px;
}
.noPadTop {
    padding-top: 0px;
}
.padBot {
    padding-bottom: 15px;
}
.noPadBot {
    padding-bottom: 0px;
}
.padLeft {
    padding-left: 15px;
}
.noPadLeft {
    padding-left: 0px;
}
.padRight {
    padding-right: 15px;
}
.noPadRight {
    padding-right: 0px;
}
.padAll {
    padding: 15px;
}
.noPad {
    padding: 0px;
}
.marTop {
    margin-top: 15px;
}
.noMarTop {
    margin-top: 0px;
}
.marBot {
    margin-bottom: 15px;
}
.noMarBot {
    margin-bottom: 0px;
}
.marLeft {
    margin-left: 15px;
}
.noMarLeft {
    margin-left: 0px;
}
.marRight {
    margin-right: 15px;
}
.noMarRight {
    margin-right: 0px;
}
.marAll {
    margin: 15px;
}
.noMar {
    margin: 0px;
}
.hideSmall {
    display: block;
}
.hideLarge {
    display: none;
}

/* Pagination Styling */
ul.pagination li {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    background-color: transparent;
    color: #4A4A4A;
}
ul.pagination li.current {
    background-color: #0598B9;
    color: #F6F6F6;
}
ul.pagination li.current:hover, ul.pagination li.current: focus {
    background-color: #023945;
}

/* Media Queries */
@media only screen and (max-width: 600px) {
    .hideSmall {
        display: none;
    }
    .hideLarge {
        display: block;
    }
    .centerBorders {
        border: 0px;
    }
}