.tt-image {
	max-width: 100%;
	display: inline-block;
	vertical-align: middle;
	height: auto;
	box-sizing: inherit;
}

.tt-card-div {
	margin-bottom: 1rem;
}

.tt-card-label {
	text-align: center;
}

textarea {
	resize: none;
}

body {
	font-family: 'Questrial', sans-serif;
    /* background-color: #575757; */
	background-color: #fcfcfc;
    /* color: #dddddd; */
}

header {
	background-color: #009ACE;
	margin-top: -1.5rem;
	padding: .15rem;
	margin-bottom: 2rem;
}

footer {
	background-color: #009ACE;
	margin-top: 1.5rem;
	padding: .15rem;
}

.tt-button {
	background-color: #009ACE;
}

.tt-button:hover {
	background-color: #2b75ab;
}

.tt-button:focus {
	background-color: #009ACE;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
	font-size: 18px;
}