body {
    font-family: 'Questrial', sans-serif;
    background-color: #FCFCFC;
    color: #B2B2B2;
}
.grid-container {
    
}

/* Basic Text */
h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}
h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
h5 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
}
h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
}
a {
    color: #1178DB;
    text-decoration: none;
}
a:hover, a :focus {
    color: #062D52;
}

/* Header */


/* Footer */
footer {
    background-color: #01181D;
    color: #F6F6F6;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    padding-top: 15px;
}
footer h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
footer a {
    color: #F6F6F6;
}
footer a:hover {
    color: #0598B9;
}
.copyright {
    font-size: 10px;
}

/* Navigation */
nav.mainNav {
    background-color: #0598B9;
    margin: -24px 0px 0px 0px !important;
    padding: 0px !important;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
nav .grid-container {
    background-color: transparent;
    padding: 0px !important;
}
nav a {
    color: #F6F6F6;
    background-color: #0598B9 !important;
    padding: 32px 10px !important;
}
nav a.menu {
    padding: 32px 10px !important;
}
nav a.last {
    padding: 32px 25px 32px 10px !important;
}
/* Figure out extra padding for dropdown arrow */

nav a::after {
    border-color: #F6F6F6 transparent transparent !important;
}
nav a:hover, .dropdown.menu > li.is-active > a, nav a:focus {
    color: #F6F6F6 !important;
    background-color: #023945 !important;
}
.top-bar {
    background: none !important;
    padding: 0px !important;
}
.title-bar {
    background: none !important;
    padding: 20px 10px !important;
}
.title-bar .grid-x {
    width: 100%;
}
ul.menu.submenu.is-dropdown-submenu {
    border: 0px;
}
li.is-submenu-item.is-dropdown-submenu-item a {
    background-color: #04728B !important;
    padding: 10px 25px !important;
    font-size: 14px !important;
    font-weight: 300 !important;
}
li.is-submenu-item.is-dropdown-submenu-item a:hover, li.is-submenu-item.is-dropdown-submenu-item a:focus {
    background-color: #023945 !important;
}
li.is-submenu-item.is-accordion-submenu-item a {
    background-color: #04728B !important;
    padding: 10px 25px !important;
    font-size: 14px !important;
    font-weight: 300 !important;
}
li.is-submenu-item.is-accordion-submenu-item a:hover, li.is-submenu-item.is-accordion-submenu-item a:focus {
    background-color: #023945 !important;
}
.navLast {
    padding: 30px 10px !important;
}


/* Homepage Specific */
.homeList {
    padding:
}


/* Object Classes */
.blueGround {
    background-color: #1178DB;
    color: #FCFCFC;
}
.darkBlueGround{
    background-color: #062D52;
    color: #FCFCFC;
}
.greyGround {
    background-color: #B2B2B2;
    color: #868686;
}
.blueText {
    color: #1178DB;
}
.darkBlueText {
    color: #062D52;
}
.whiteText {
    color: #FCFCFC;
}
.alignLeft {
    text-align: left;
}
.alignCenter {
    text-align: center;
}
.alignRight {
    text-align: right !important;
}
.lowParent {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
.vertCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
.centerBorders {
    border-left: 1px solid #B2B2B2;
    border-right: 1px solid #B2B2B2;
}
.rightBorder {
    border-right: 1px solid #B2B2B2;
}
.padTop {
    padding-top: 15px;
}
.padTopXL {
    padding-top: 50px;
}
.noPadTop {
    padding-top: 0px;
}
.padBot {
    padding-bottom: 15px;
}
.padBotXL {
    padding-bottom: 50px !important;
}
.noPadBot {
    padding-bottom: 0px;
}
.padLeft {
    padding-left: 15px;
}
.noPadLeft {
    padding-left: 0px;
}
.padRight {
    padding-right: 15px;
}
.noPadRight {
    padding-right: 0px;
}
.padAll {
    padding: 15px;
}
.noPad {
    padding: 0px !important;
}
.marTop {
    margin-top: 15px;
}
.noMarTop {
    margin-top: 0px;
}
.marBot {
    margin-bottom: 15px;
}
.marBotXL {
    margin-bottom: 50px !important;
}
.noMarBot {
    margin-bottom: 0px;
}
.marLeft {
    margin-left: 15px;
}
.noMarLeft {
    margin-left: 0px;
}
.marRight {
    margin-right: 15px;
}
.noMarRight {
    margin-right: 0px;
}
.marAll {
    margin: 15px;
}
.noMar {
    margin: 0px;
}
.noDec {
    text-decoration: none;
    list-style: none;
        }
.hideSmall {
    display: block;
}
.hideLarge {
    display: none;
}
.noHover:hover, .noHover:focus {
    background-color: transparent !important;
}
.noBack {
    background-color: transparent !important;
}

/* Pagination Styling */
ul.pagination li {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    background-color: transparent;
    color: #4A4A4A;
}
ul.pagination li.current {
    background-color: #0598B9;
    color: #F6F6F6;
}
ul.pagination li.current:hover, ul.pagination li.current: focus {
    background-color: #023945;
}

/* Media Queries */
@media only screen and (max-width: 600px) {
    .hideSmall {
        display: none;
    }
    .hideLarge {
        display: block;
    }
    .centerBorders {
        border: 0px;
    }
    .rightBorder {
        border: 0px;
    }
}
@media only screen and (max-width: 639px) {
    nav a {
        padding: 15px 25px !important;
    }
}