/* DEFAULTS */
body {
    background-color: #F6F6F6;
    color: #787878
}

/* Header */
header {
    background-image: linear-gradient(#0098BD, #007592);
    min-height: 100px;
}
header a{
    color: #F6F6F6;
}
header a:hover {
    background-color: #134C5A;
}

/* Footer */
footer {
    background-color: #0C2F37;
}
footer a {
    color: #F6F6F6;
}
footer a:hover {
    color: #CBCBCB;
    text-decoration: underline;
}


/* CLASSES */

.borderRight {
    border-right: 1px solid #B0B0B0;
}
.noDec {
    text-decoration: none;
    list-style: none;
}


/* MEDIA QUERIES */

@media only screen and (max-width: 600px) {
  .borderRight {
    border-right: 0px;
  }
}