{% extends "/cms/cmsLayout.html" %}
{% block body %}
	<p>Edit Event</p>
	<div>
		<form id="eventForm" action="/saveevent/1" method="post">
			<div class="grid-x grid-padding-x">
				<div class="cell small-12 medium-3 large-3">
					<h6>Event</h6>
					<input type="text" name="eventName" value="{{event.name}}" required>
				</div>
				<div class="cell small-12 medium-3 large-3">
					<h6>Date</h6>
					<input type="text" name="eventDate" value="{{event.date}}" required>
				</div>
				<div class="cell small-12 medium-3 large-3">
					<h6>Number of Players</h6>
					<input type="text" name="numPlayers" value="{{event.numPlayers}}" required>
				</div>
				<div class="cell small-12 medium-3 large-3">
					<h6>Format</h6>
					<select name="format" required>
						{% for f in formats %}
							<option value="{{f}}" {% if formats[f] == event.format %} selected="selected" {% endif %}>{{formats[f]}}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			{% for deck in event.decks %}
				<div class="grid-x grid-padding-x">
					<div class="cell small-12 medium-3 large-3">
						<h6>Deck Pilot</h6>
						<input type="text" name="deckPilot" value="{{deck.pilot}}" required>
					</div>
					<div class="cell small-12 medium-3 large-3">
						<h6>Finish</h6>
						<input type="text" name="finish" value="{{deck.finish}}" required>
					</div>
					<div class="cell small-12 medium-3 large-3">
						<h6>Archetype</h6>
						<select name="archetype" required onchange="getSubArk(this.value);">
							{% for a in ark %}
								<option value="{{a}}" {% if ark[a] == deck.archetype %} selected="selected" {% endif %}>{{ark[a]}}</option>
							{% endfor %}
						</select>
					</div>
					<div class="cell small-12 medium-3 large-3">
						<h6>Sub-Archetype</h6>
						<select name="subArchetype" required>
						</select>
					</div>
				</div>
				<div class="grid-x grid-padding-x">
					<div class="cell small-12 medium-6 large-6">
						<h6>Mainboard</h6>
						<textarea name="mainboard" cols="40" rows="10" required>{% for card in deck.cards %}{{card.copies}} | {{card.name}} | {{card.scryfallId}}&#10;{% endfor %}</textarea>
					</div>
					<div class="cell small-12 medium-6 large-6">
						<h6>Sideboard</h6>
						<textarea name="sideboard" cols="40" rows="10" required>{% for card in deck.sideboard %}{{card.copies}} | {{card.name}} | {{card.scryfallId}}&#10;{% endfor %}</textarea>
					</div>
				</div>
				<input type="hidden" name="did" value="{{ deck.cid }}">
			{% endfor %}
			<input type="hidden" name="cid" value="{{ event.cid }}">
			<input type="submit" class="success button" value="Activate and Save">
			<input type="button" class="warning button" value="Skip Event" onclick="window.location.href = '/skip/' + '{{ event.cid }}';">
			<input type="button" class="alert button" value="Delete" onclick="window.location.href = '/delevent/' + '{{ event.cid }}';">
		</form>
	</div>
{% endblock %}