<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <nav>
            <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
                <button class="menu-icon" type="button" data-toggle="example-menu"></button>
                <div class="title-bar-title">Menu</div>
            </div>
            <div class="top-bar" id="example-menu">
                <div class="top-bar-left">
                    <a href="https://www.thinktankmtg.com">
                        <img src="thinktank.svg">
                    </a>
                </div>
                <div class="top-bar-right">
                    <ul class="dropdown menu" data-dropdown-menu>
                        <li>
                            <a href="/format">Format</a>
                            <ul class="menu vertical">
                                <li><a href="/format/standard">Standard</a></li>
                                <li><a href="/format/pioneer">Pioneer</a></li>
                                <li><a href="/format/modern">Modern</a></li>
                                <li><a href="/format/legacy">Legacy</a></li>
                                <li><a href="/format/vintage">Vintage</a></li>
                                <li><a href="/format/pauper">Pauper</a></li>
                                <li><a href="/format/commander">Commander</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/playstyle">Playstyle</a>
                            <ul class="menu vertical">
                                <li><a href="/playstyle/aggro">Aggro</a></li>
                                <li><a href="/playstyle/control">Control</a></li>
                                <li><a href="/playstyle/combo">Combo</a></li>
                                <li><a href="/playstyle/midrange">Midrange</a></li>
                                <li><a href="/playstyle/tempo">Tempo</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/color">Color</a>
                            <ul class="menu vertical">
                                <li><a href="/color/white">White</a></li>
                                <li><a href="/color/blue">Blue</a></li>
                                <li><a href="/color/black">Black</a></li>
                                <li><a href="/color/red">Red</a></li>
                                <li><a href="/color/green">Green</a></li>
                                <li><a href="/color/colorless">Colorless</a></li>
                            </ul>
                        </li>
                        <li><a href="/archetype">Archetype</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <main>
            {% block content %}
            //content will be here
            {% endblock %}
        </main>
        <footer>
            <div class="grid-container">
                <div class="grid-x grid-padding-x">
                    <div class="cell large-3"></div>
                    <div class="cell large-3"></div>
                    <div class="cell large-3"></div>
                    <div class="cell large-3"></div>
                </div>
            </div>
            <link rel="stylesheet" type="text/css" href="/css/foundation.min.css">
            <link rel="stylesheet" type="text/css" href="/css/lightbox.min.css">
            <link rel="stylesheet" type="text/css" href="/css/app.css">
            <script src="/js/foundation.js"></script>
            <script src="/js/lightbox.js"></script>
            <script src="/js/app.js"></script>
        </footer>
    </body>
</html>