<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
	<body>
		<nav>
			<div class="grid-container">
				<div class="grid-x grid-padding-x">
					<div class="large-12 cell">
						<div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
							<div class="float-left">
                                <a href="https://www.thinktankmtg.com">
								    <img src="/img/logo.svg" alt="Think Tank">
                                </a>
							</div>
							<div class="float-right">
								<button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
							</div>
						</div>
						<div class="top-bar" id="responsive-menu">
							<div class="top-bar-left hide-for-small-only">
								<a href="https://thinktankmtg.com" title="Home" class="noHover">
									<img src="/img/logo.svg" alt="Think Tank Logo">
								</a>
							</div>
							<div class="top-bar-right">
								<ul class="menu addBackground show-for-small-only" data-responsive-menu="accordion medium-dropdown">
									<li>
										<a href="/format">Format</a>
										<ul class="menu">
											<li>
                                                <a href="/format/standard">Standard</a>
                                            </li>
											<li>
                                                <a href="/format/pioneer">Pioneer</a>
                                            </li>
											<li>
                                                <a href="/format/modern">Modern</a>
                                            </li>
											<li>
                                                <a href="/format/legacy">Legacy</a>
                                            </li>
											<li>
                                                <a href="/format/vintage">Vintage</a>
                                            </li>
											<li>
                                                <a href="/format/pauper">Pauper</a>
                                            </li>
                                            <li>
                                                <a href="/format/commander">Commander</a>
                                            </li>
                                            <li>
                                                <a href="/format/other">Other Formats</a>
                                            </li>
										</ul>
									</li>
                                    <li>
										<a href="/playstyle">Playstyle</a>
										<ul class="menu">
											<li>
                                                <a href="/playstyle/aggro">Aggro</a>
                                            </li>
											<li>
                                                <a href="/playstyle/control">Control</a>
                                            </li>
											<li>
                                                <a href="/playstyle/combo">Combo</a>
                                            </li>
                                            <li>
                                                <a href="/playstyle/midrange">Midrange</a>
                                            </li>
                                            <li>
                                                <a href="/playstyle/tempo">Tempo</a>
                                            </li>
										</ul>
									</li>
									<li>
										<a href="/color">Color</a>
										<ul class="menu">
											<li>
                                                <a href="/color/white">White</a>
                                            </li>
                                            <li>
                                                <a href="/color/blue">Blue</a>
                                            </li>
                                            <li>
                                                <a href="/color/black">Black</a>
                                            </li>
                                            <li>
                                                <a href="/color/red">Red</a>
                                            </li>
                                            <li>
                                                <a href="/color/green">Green</a>
                                            </li>
                                            <li>
                                                <a href="/color/colorless">Colorless</a>
                                            </li>
                                        </ul>
									</li>
									<li>
										<a href="/archetype">Archtypes</a>
									</li>
								</ul>
                                <ul class="dropdown menu hide-for-small-only  padBot" data-dropdown-menu>
                                    <li>
                                        <a href="/format">Format</a>
                                        <ul class="menu">
                                            <li>
                                                <a href="/format/standard">Standard</a>
                                            </li>
                                            <li>
                                                <a href="/format/pioneer">Pioneer</a>
                                            </li>
                                            <li>
                                                <a href="/format/modern">Modern</a>
                                            </li>
                                            <li>
                                                <a href="/format/legacy">Legacy</a>
                                            </li>
                                            <li>
                                                <a href="/format/vintage">Vintage</a>
                                            </li>
                                            <li>
                                                <a href="/format/pauper">Pauper</a>
                                            </li>
                                            <li>
                                                <a href="/format/commander">Commander</a>
                                            </li>
                                            <li>
                                                <a href="/format/other">Other Formats</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="/playstyle">Playstyle</a>
                                        <ul class="menu">
                                            <li>
                                                <a href="/playstyle/aggro">Aggro</a>
                                            </li>
                                            <li>
                                                <a href="/playstyle/control">Control</a>
                                            </li>
                                            <li>
                                                <a href="/playstyle/combo">Combo</a>
                                            </li>
                                            <li>
                                                <a href="/playstyle/midrange">Midrange</a>
                                            </li>
                                            <li>
                                                <a href="/playstyle/tempo">Tempo</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="/color">Color</a>
                                        <ul class="menu">
                                            <li>
                                                <a href="/color/white">White</a>
                                            </li>
                                            <li>
                                                <a href="/color/blue">Blue</a>
                                            </li>
                                            <li>
                                                <a href="/color/black">Black</a>
                                            </li>
                                            <li>
                                                <a href="/color/red">Red</a>
                                            </li>
                                            <li>
                                                <a href="/color/green">Green</a>
                                            </li>
                                            <li>
                                                <a href="/color/colorless">Colorless</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="/archetype">Archtypes</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</nav>
        <main>
            {% block content %}
            //content will be here
            {% endblock %}
        </main>
        <footer>
            <div class="grid-container">
                <div class="grid-x grid-padding-x">
                    <div class="cell large-3"></div>
                    <div class="cell large-3"></div>
                    <div class="cell large-3"></div>
                    <div class="cell large-3"></div>
                </div>
            </div>
            <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.4.3/dist/css/foundation.min.css" integrity="sha256-GSio8qamaXapM8Fq9JYdGNTvk/dgs+cMLgPeevOYEx0= sha384-wAweiGTn38CY2DSwAaEffed6iMeflc0FMiuptanbN4J+ib+342gKGpvYRWubPd/+ sha512-QHEb6jOC8SaGTmYmGU19u2FhIfeG+t/hSacIWPpDzOp5yygnthL3JwnilM7LM1dOAbJv62R+/FICfsrKUqv4Gg==" crossorigin="anonymous">
            <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.4.3/dist/js/foundation.min.js" integrity="sha256-mRYlCu5EG+ouD07WxLF8v4ZAZYCA6WrmdIXyn1Bv9Vk= sha384-KzKofw4qqetd3kvuQ5AdapWPqV1ZI+CnfyfEwZQgPk8poOLWaabfgJOfmW7uI+AV sha512-0gHfaMkY+Do568TgjJC2iMAV0dQlY4NqbeZ4pr9lVUTXQzKu8qceyd6wg/3Uql9qA2+3X5NHv3IMb05wb387rA==" crossorigin="anonymous"></script>
            <script>$(document).foundation();</script>
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/lightbox.min.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css') }}">

            <script src="{{ url_for('static', filename='js/app.js') }}"></script>
        </footer>
    </body>
</html>