{% extends "/inc/cmsLayout.html" %}
{% block body %}
    <p>CMS events page</p>
    <div class="grid-x grid-margin-x">
        <div class="cell small-2 medium-2"><!--For Spacing--></div>
        <div class="cell small-3 medium-4">Name</div>
        <div class="cell small-2 medium-2">Date</div>
        <div class="cell small-3 medium-2">Number of Players</div>
        <div class="cell small-2 medium-2">Format</div>
    </div>
    {% for event in events %}
        <div class="grid-x grid-padding-x">
            <div class="cell small-2 medium-2"><a class="tiny button" href="/editevent/{{event.cid}}">Edit</a></div>
            <div class="cell small-3 medium-4">{{event.name}}</div>
            <div class="cell small-2 medium-2">{{event.date}}</div>
            <div class="cell small-3 medium-2 text-center">{{event.numPlayers}}</div>
            <div class="cell small-2 medium-2">{{event.format}}</div>
        </div>
    {% endfor %}
    <div class="grid-x grid-margin-x clearfix">
        <div class="cell small-6"><a class="small button info float-right" href="/cmsevents/{{page - 1}}">Prev</a></div>
        <div class="cell small-6"><a class="small button info" href="/cmsevents/{{page + 1}}">Next</a></div>
    </div>
{% endblock %}