{% extends "/inc/cmsLayout.html" %}
{% block body %}
    <p>CMS events page</p>
    <form id="searchForm" action="/searchevent" method="post">
        <input type="text" name="name" placeholder="Search Event Names">
    </form>
    <div class="grid-x grid-margin-x">
        <div class="cell small-4 medium-2"><!--For Spacing--></div>
        <div class="cell small-4 medium-4"><h5>Name</h5></div>
        <div class="cell small-4 medium-2"><h5>Date</h5></div>
        <div class="cell small-6 medium-2"><h5>Number of Players</h5></div>
        <div class="cell small-6 medium-2"><h5>Format</h5></div>
    </div>
    {% for event in events %}
        <div class="grid-x grid-padding-x">
            <div class="cell small-4 medium-2"><a class="tiny button" href="/editevent/{{event.cid}}">Edit</a></div>
            <div class="cell small-4 medium-4">{{event.name}}</div>
            <div class="cell small-4 medium-2">{{event.date}}</div>
            <div class="cell small-6 medium-2 text-center">{{event.numPlayers}}</div>
            <div class="cell small-6 medium-2">{{event.format}}</div>
        </div>
    {% endfor %}
    <div class="grid-x grid-margin-x clearfix">
        <div class="cell small-6"><a class="small button info float-right" href="/cmsevents/{{page - 1}}">Prev</a></div>
        <div class="cell small-6"><a class="small button info" href="/cmsevents/{{page + 1}}">Next</a></div>
    </div>
{% endblock %}