{% extends "base.html" %}
{% block content %}
    <div class=" grid-container">
        <div class="grid-x grid-padding-x">
            <select id="Decks" onchange="changeDeck(this.value);">
                {% for d in decks %}
                    <option value="{{d}}" {% if decks[d] == deck.name %} selected="selected" {% endif %}>{{decks[d]}}</option>
                {% endfor %}
            </select>
            <div class="cell shrink">
                <h1 class="placement">{{deck.finish}}</h1>
            </div>
            <div class="cell auto">
                <h3>{{deck.name}} - {{deck.archtype}}</h3>
                <h4>{{deck.pilot}}</h4>
            </div>
            <hr>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="cell large-4">
              {% for x in range((((deck.cards | length) / 2) | round) | int) %}
                {% if deck.cards[x].copies == 0 %}
                    <h5 class="listType">{{deck.cards[x].name}}</h5>
                {% elif deck.cards[x].faces | length > 0 %}
                    {{deck.cards[x].copies}} <a href="{{deck.cards[x].faces[0].imageUrl}}" alt="{{deck.cards[x].faces[0].altText}}">{{deck.cards[x].faces[0].name}}</a> // <a href="{{deck.cards[x].faces[1].imageUrl}}" alt="{{deck.cards[x].faces[1].altText}}">{{deck.cards[x].faces[1].name}}</a><br>
                {% else %}
                    {{deck.cards[x].copies}} <a href="{{deck.cards[x].imageUrl}}" alt="{{deck.cards[x].altText}}">{{deck.cards[x].name}}</a><br>
                {% endif %}
              {% endfor %}
            </div>
            <div class="cell large-4 centerBorders">
              {% for x in range((((deck.cards | length) / 2) | round) | int, deck.cards | length) %}
                {% if deck.cards[x].copies == 0 %}
                    <h5 class="listType">{{deck.cards[x].name}}</h5>
                {% else %}
                    {{deck.cards[x].copies}} <a href="{{deck.cards[x].imageUrl}}" alt="{{deck.cards[x].altText}}">{{deck.cards[x].name}}</a><br>
                {% endif %}
              {% endfor %}
            </div>
            <div class="cell large-4 vertCenter hideSmall" id="cardImg">
                <img src="/img/cardBack.png">
            </div>
        </div>
    </div>
{% endblock %}
