{% extends "/inc/cmsLayout.html" %}
{% block body %}
    <p>Edit Event</p>

    <div>
        <form id="eventForm" action="/saveevent" method="post" onsubmit="xhrHandler(this)">
            <div class="grid-x grid-padding-x">
                <div class="cell small-3">
                    <h4>Event</h4>
                    <input type="text" name="eventName" value="{{event.name}}">
                </div>
                <div class="cell small-3">
                    <h4>Date</h4>
                    <input type="text" name="eventDate" value="{{event.date}}">
                </div>
                <div class="cell small-3">
                    <h4>Number of Players</h4>
                    <input type="text" name="numPlayers" value="{{event.numPlayers}}">
                </div>
                <div class="cell small-3">
                    <h4>Format</h4>
                    <input type="text" name="format" value="{{event.format}}">
                </div>
            </div>
            {% for deck in event.decks %}
                <div class="grid-x grid-padding-x">
                    <div class="cell small-3">
                        <h4>Deck Name</h4>
                        <input type="text" name="deckName" value="{{deck.name}}">
                    </div>
                    <div class="cell small-3">
                        <h4>Deck Pilot</h4>
                        <input type="text" name="deckPilot" value="{{deck.pilot}}">
                    </div>
                    <div class="cell small-3">
                        <h4>Finish</h4>
                        <input type="text" name="finish" value="{{deck.finish}}">
                    </div>
                    <div class="cell small-3">
                        <h4>Archetype</h4>
                        <input type="text" name="archetype" value="{{deck.archetype}}">
                    </div>
                </div>
                <div class="grid-x grid-padding-x">
                    <div class="cell small-6">
                        <h4>Mainboard</h4>
                        <textarea name="mainboard">{% for card in deck.cards %}{{card.copies}} {{card.name}}&#10;{% endfor %}</textarea>
                    </div>
                    <div class="cell small-6">
                        <h4>Sideboard</h4>
                        <textarea name="sideboard">{% for card in deck.sideboard %}{{card.copies}} {{card.name}}&#10;{% endfor %}</textarea>
                    </div>
                </div>
            {% endfor %}
            <input type="submit" class="success button" value="Submit"/>
        </form>
    </div>
{% endblock %}