{% extends "base.html" %}
{% block content %}
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            {% for e in events %}
                <div class="cell large-6">
                    <h4>
                        <!-- Name -->
                        <a href="/deck/{{e.firstPlaceDeckId}}">{{e.name}}</a>
                    </h4>
                </div>
                <div class="cell large-2">
                    <p>
                        <!-- # of Players -->
                        {{e.numPlayers}}
                    </p>
                </div>
                <div class="cell large-4">
                    <p>
                        <!-- Date -->
                        {{e.date}}
                    </p>
                </div>
            {% endfor %}
            <hr>
            <div class="celfl alignCenter">
                <!-- Page Numbers / Previous & Next -->
                <div class="cell small-6"><a class="small button info float-right" href="/event/{{pcid}}/format/{{fid}}">Prev</a></div>
                <div class="cell small-6"><a class="small button info" href="/event/{{events[-1].cid}}/format/{{fid}}">Next</a></div>
            </div>
        </div>
    </div>
{% endblock %}