{% extends "base.html" %}
{% block content %}
	<form id="card_input">
		<div class="grid-x grid-padding-x">
			<div class="cell small-12 medium-12 large-8 large-offset-2">
				<h4>Card List</h4>
				<textarea name="cards" rows="10" placeholder="Enter each card on a new line. Capitalization doesn't matter, punctuation does."></textarea>
			</div>
			<div class="cell small-12 medium-6 large-3">
				<h4>Select Format</h4>
				<select name="format">
					<option value="1">Standard</option>
					<option value="5">Modern</option>
					<option value="10" selected>Commander</option>
					<option value="4">Pioneer</option>
					<option value="7">Pauper</option>
					<option value="6">Legacy</option>
					<option value="8">Vintage</option>
					<!-- <option value="0">Kitchen Table</option> -->
				</select>
			</div>
			<!-- <div class="cell small-12 medium-6 large-3">
				<input name="budget" type="text" placeholder="Max Budget (USD)">
			</div> -->
			<div class="cell small-12 medium-6 large-4">
				<h4>Card Types To Ignore</h4>
				<input id="type_lands" name="type_lands" type="checkbox">
					<label for="type_lands">Land</label>
				<input id="type_creature" name="type_creature" type="checkbox">
					<label for="type_creature">Creature</label>
				<input id="type_instant" name="type_instant" type="checkbox">
					<label for="type_instant">Instant</label>
				<input id="type_sorcery" name="type_sorcery" type="checkbox">
					<label for="type_sorcery">Sorcery</label>
				<input id="type_enchantment" name="type_enchantment" type="checkbox">
					<label for="type_enchantment">Enchantment</label>
				<input id="type_artifact" name="type_artifact" type="checkbox">
					<label for="type_artifact">Artifact</label>
				<input id="type_planeswalker" name="type_planeswalker" type="checkbox">
					<label for="type_planeswalker">Planeswalker</label>
			</div>
			<div class="cell small-12 medium-12 large-12">
				<input type="button" value="Find Cards" class="expanded button info tt-button" onclick="suggestCards($('#card_input').serialize());">
			</div>
		 </div>
		 <div id="results" class="grid-x grid-padding-x"></div>
	</form>
{% endblock %}